<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-6 col-lg-6">
			<button type="button" class="btn btn-success" ng-click="vm.addNewCar()">Novo Carro</button>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="input-group">
				<input type="text" ng-model="search" class="form-control" placeholder="Pesquisar" >
				<span class="input-group-btn">
        		<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      			</span>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<table st-table="vm.listFleets" class="table table-blue-account table-hover">
				<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>Placa</th>
					<th>Modelo</th>
					<th>Marca</th>
					<th>Foto</th>
					<th>Combustível</th>
					<th>Valor</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in vm.listFleets | filter: search">
					<td><input type="checkbox"></td>
					<td>{{row.placa}}</td>
					<td>{{row.modelo}}</td>
					<td>{{row.marca}}</td>
					<td>
						<span ng-show="row.imagem"><a ng-href="{{row.imagem}}">Imagem</a></span>
						<span ng-hide="row.imagem">Sem Foto</span>
					</td>
					<td>{{row.combustivel}}</td>
					<td>{{row.valor | currency:"R$ ":00}}</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="7" class="text-center">
						<div  st-items-by-page="5" st-pagination=""></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
